<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qAnswerDAO">

<!-- sql 문의글 insert문 -->
	<insert id="managerInsertQuestion" parameterType="vo.question.QAnswerVO">
		INSERT INTO QAnswer (qATitle, qAContent, qARegdate)
		VALUES ( #{qATitle}, #{qAContent}, sysdate())
	</insert>
 
</mapper>