<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QuestionDAO">

	<!-- sql 문의글 insert문 -->
	<insert id="insertQuestion" parameterType="vo.question.QuestionVO">
		INSERT INTO QUESTION (id, qTitle, qContent, qPassword, qRegdate, qStatus, qSecret)
		VALUES ( #{id}, #{qTitle}, #{qContent}, #{qPassword}, now(), "N", #{qSecret})
	</insert>
	
	<!-- sql 문의글 update문 -->
	<update id="updateQuestion" parameterType="vo.question.QuestionVO">
		UPDATE QUESTION SET
		qTitle = #{qTitle},
		qContent = #{qContent},
		qARegdate = now()
		WHERE qNo = #{qNo}
	</update>
	
	<!-- sql 문의글 delete문 -->
	<delete id="deleteQuestion" parameterType="vo.question.QuestionVO">
    	DELETE FROM Question 
    	WHERE qNo = #{qNo}
	</delete>
	
	<!-- 문의글에 답변 시 Y -->
	<update id="updateQuestionStatus" parameterType="vo.question.QuestionVO">
    	UPDATE QUESTION
    	SET qStatus = 'Y'
    	WHERE qNo = #{qNo}
	</update>

	<!-- 답변 삭제 시 N -->
	<update id="updateQuestionStatusToN" parameterType="vo.question.QuestionVO">
        UPDATE Question 
        SET qStatus = 'N'
        WHERE qNo = #{qNo}
    </update>
	
	<!-- sql 공지글 목록보기 -->
	<select id="getQuestion" parameterType="vo.question.QuestionVO" resultType="vo.question.QuestionVO">
		SELECT *
		FROM QUESTION
		WHERE qNo = #{qNo}
	</select>
	
	<!-- sql 문의글 검색 -->
	<select id="question" parameterType="map" resultType="vo.question.QuestionVO">
    SELECT *
    FROM QUESTION
    <where>
         <if test="searchCondition != null and searchKeyword != null and searchCondition != '' and searchKeyword != ''">
            ${searchCondition} LIKE '%${searchKeyword}%'
        </if>
    </where>
    	ORDER BY qNo DESC
    	LIMIT #{startBoard}, ${cnt}
	</select>

	<!-- 문의사항 페이징 -->
	<select id="getQuestionCount" parameterType="map" resultType="int">
    	SELECT COUNT(*)
    	FROM QUESTION
    <where>
        <if test="searchCondition != null and searchKeyword != null and searchCondition != '' and searchKeyword != ''">
            ${searchCondition} LIKE '%${searchKeyword}%'
        </if>
    </where>
	</select>
 
	<!-- 문의사항 비밀글 비밀번호 -->
	<select id="getqSecret" parameterType="vo.question.QuestionVO" resultType="vo.question.QuestionVO">
		SELECT *
		FROM QUESTION
		WHERE qSecret = #{qSecret}
	</select>
</mapper>